Part 8. String , Indexing and Slicing

In [ ]:

prompt = "What is your name ? " 

print(prompt)
print(type(prompt) )

What is your name ?
<class 'str'>

In [29]:
MA = """ma i love you
ma is best in the world
ma everyday trsheied because she not rested
"""

print(MA)

ma i love you
ma is best in the world
ma everyday trsheied because she not rested

In [14]:
String = "Hello World"
print(String[7])

o

In [27]:
first = MA[0:13:1]
print(first)
print(first [-1] )

ma i love you
u

Part 9. String Methods

In [33]:
# String Methods  


string  = "Welcome to Phitron ML Course , Phitron ML , Hello ML" 

processed_string = string.lower()


# length 
print(len(string))

# word ase kina -> bool
print("phitron" in processed_string)

# shurur kon index theke substring ta shuru hoise 

shuru_index = processed_string.find("phitron")

# shesher dike kon index theke substring ta shuru hoise 
shesh_index = processed_string.rfind("phitron")


## Substring koibar ase 

count = processed_string.count("phitron")



## replace a substring 

processed_string = string.replace("ML", "AI/ML")


print(processed_string)

52
True
Welcome to Phitron AI/ML Course , Phitron AI/ML , Hello AI/ML

Part 10. String Splitting Joining and Formatting

In [34]:
#  String Splitting Joining and Formatting


prompt = "what is Phitron ?"

tokens = prompt.split()

print(type(tokens))


sentence = "-".join(tokens)

print(type(sentence))

<class 'list'>
<class 'str'>

Part 11. List and List Methods

In [ ]:
# List and List Methods


name = "Adil" 
age = 23 
height = 5.1123445

info = f"His name is {name.upper()}. He is {age} years old. He is {height:.3} feet tall.\n"



model_accuracy = 0.83333 

print(f"the model accuracy is {model_accuracy}")

In [40]:
numbers= [1 ,2,3,4,5,6]
print(numbers) 
print(numbers[2])

[1, 2, 3, 4, 5, 6]
3

Part 12. modification

In [44]:
# modification


numbers.append (80) 
print(numbers) 


numbers.insert(0 , 300) 
print(numbers) 

# deleting
numbers.pop()
print (numbers)


numbers.reverse()
print (numbers)

[300, 300, 300, 1, 2, 3, 4, 5, 6, 80, 80]
[300, 300, 300, 300, 1, 2, 3, 4, 5, 6, 80, 80]
[300, 300, 300, 300, 1, 2, 3, 4, 5, 6, 80]
[80, 6, 5, 4, 3, 2, 1, 300, 300, 300, 300]

Part 13. List Comprehension

In [49]:
#  List Comprehension 


even = [] 

for i in range (100) :

   if i % 2 == 0  : 
        even.append (i) 


print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [52]:
random_list = [x + 10 for x in range (1 , 101) if x % 2 != 0 ]

print(random_list)

[11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109]

In [55]:
fruits = ['Apple' , 'Orange' , 'Banana'] 

upper_fruits = [fruit.lower() for fruit in fruits ] 

print (upper_fruits)

['apple', 'orange', 'banana']

Part 14. declaration

In [56]:
# moduel 5 
# declaration 

tup = (10,20,30,40) 

float_tup = (10.5,10.2)
mixed_tup = (10 , 10.5 , "str", True) 


lst = [10,20,30]

tup1 = tuple(lst)

print(type(tup1), tup1)

<class 'tuple'> (10, 20, 30)

In [57]:
# Access 
tup = ( 10 , 20 , 30 , 10.5 , "str" , False )

#index 
print(tup[3]) 

# slicing 

new_tup = tup[0:3]
print(new_tup)

10.5
(10, 20, 30)

In [59]:
# mutable

lst = [ 10 , 20 , 30 , 40 ] 
lst.append(60)
lst[1] = 100
print(lst)

# immutable
tuple= ( 10 , 20 , 30 , 40 ) 
tuple[1]= 100 
print(tuple)

[10, 100, 30, 40, 60]

TypeError: 'tuple' object does not support item assignment

In [60]:
# tuple method 
tup= ( 10 , 20 , 30 , 40 , 10 , 20 , 30 ,10 )

print(tup.count(10))
print(tup.index(40))

3
3